body {
    background: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    overflow: hidden;
}

.container {
    perspective: 1000px;
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 1s;
    transform-style: preserve-3d;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

    .card:hover {
        transform: rotateY(180deg);
    }

.title, .description {
    backface-visibility: hidden;
}

.button {
    display: inline-block;
    background: #007BFF; /* Changed color to blue */
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    color: #fff;
    text-decoration: none;
    transition: background 0.5s;
}

    .button:hover {
        background: #5d4037;
    }
