body {
    background-color: #181818;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    background-color: #282828;
    border: none;
    resize: none;
}

button {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b20710;
}
